<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869802379270-bp67hvgs7id5quq2cc6n1nvnmt2vivng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869802379270-bp67hvgs7id5quq2cc6n1nvnmt2vivng</string>
	<key>API_KEY</key>
	<string>AIzaSyAK-tR_oj0f3OU0ById5uAX0OxKltxNiJo</string>
	<key>GCM_SENDER_ID</key>
	<string>869802379270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starvation.appword</string>
	<key>PROJECT_ID</key>
	<string>st4rv3t10n-appword</string>
	<key>STORAGE_BUCKET</key>
	<string>st4rv3t10n-appword.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869802379270:ios:20224e45d597ae50191b87</string>
</dict>
</plist>