<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297428211210-kcd9jenr4ijnvhgfbh3is9kofejce35l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297428211210-kcd9jenr4ijnvhgfbh3is9kofejce35l</string>
	<key>API_KEY</key>
	<string>AIzaSyDcIR7KOebbV8s8ZPBLkWZES0M_ALLwU50</string>
	<key>GCM_SENDER_ID</key>
	<string>297428211210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.starvation.appword</string>
	<key>PROJECT_ID</key>
	<string>appword-2109</string>
	<key>STORAGE_BUCKET</key>
	<string>appword-2109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297428211210:ios:ed7c882b686378e022f1f3</string>
</dict>
</plist>